.tarefa-list-card {
    flex: 1;
    max-width: 48%;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
  }
  
  .tarefa-list-card h2 {
    font-size: 1.5rem;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    .tarefa-list-card {
      max-width: 90%;
    }
  }

  .margin-fix {
    margin: 3px;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }
  