.app-container {
  display: flex; 
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .app-container {
    flex-direction: column; 
    align-items: center; 
  }
}